@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Figtree", serif;
}



/* Desktop & Tablet Styling */

/* Typography Styling */
.text-preset-1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.text-preset-2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.text-preset-3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

.bold {
    font-weight: 800;
}

/* Color Styling */
.yellow {
    background-color: #F4D04E;
}

.white {
    background-color: white;
}

.dark-grey {
    color: #111111;
}

.grey {
    color: #6B6B6B;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.blog-card {
    width: 100%;
    max-width: 384px;
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #111111;
    cursor: pointer;
    box-shadow: 8px 8px 0px 0px #000000;
}

.blog-card:hover .text-preset-1.bold {
    color: #F4D04E;
}

.card-image-wrap {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;

    .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;

    .card-tag {
        padding: 4px 12px;
        border-radius: 4px;
    }
}

.card-info-wrap {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    
    .card-info-img-wrap {
        height: 32px;
        width: 32px;
        display: flex;
        border-radius: 999px;
        overflow: hidden;

       .card-info-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}


/* Mobile styling */
@media (max-width: 430px) {

/* Typography Styling */
.text-preset-1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}

.text-preset-2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

.text-preset-3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
}

.bold {
    font-weight: 900;
}



body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;   
}

.blog-card {
    width: 100%;
    max-width: 384px;
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #111111;
    cursor: pointer;
}

.blog-card:hover .text-preset-1.bold {
    color: #111111;
}
}
